.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chatbot-icon {
  background-color: #ec747c;
  color: white;
  font-size: 24px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.chatbot-icon:hover {
  background-color: #ec747cc7;
}

.chatbot-window {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 70px;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chatbot-header {
  background-color: #ec747c;
  color: white;
  padding: 0 4%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.close-btn:hover {
  color: #ffdddd;
  transform: scale(1.6);
}

.chatbot-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.user-message {
  margin-bottom: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #ec747c7c;
  align-self: flex-end;
  max-width: 85%;
  font-size: 14px;
}

.bot-message {
  margin-bottom: 8px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #f1f1f1a1;
  align-self: flex-start;
  max-width: 85%;
  font-size: 14px;
}

.chatbot-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 5px;
  background-color: #f9f9f9;
}

.chatbot-input input::placeholder {
  color: #888;
}

.chatbot-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
}

.chatbot-input button {
  background-color: #ec747c;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-left: 6px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-input button:hover {
  background-color: #d35d66;
}
